body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url('./img/bg_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  margin: auto auto;
  color: white;
}

.App-header {
  background-color: #ff0080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
    position: center;
    top: 0;
    left: 0;
    right: 0;
}
.nav-bar a {
    text-align: center;
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5em;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    transition: 0.1s;
};
  .nav-bar a:hover, nav a:active {
    color: grey;
    border-bottom: 2px solid ;
};

.container {
  background-color: rgba(0, 0, 0, .9);
};

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
};

.loading {
  margin: auto auto;
};